/* style.scss */ /* _reset.scss */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

/* _colors.scss */ /* _font.scss */ /* _spacings.scss */
.padding-block-sm {
  padding-block: 0.25rem;
}

.padding-inline-sm {
  padding-inline: 0.25rem;
}

.margin-block-sm {
  margin-block: 0.25rem;
}

.margin-inline-sm {
  margin-inline: 0.25rem;
}

.padding-block-normal {
  padding-block: 0.5rem;
}

.padding-inline-normal {
  padding-inline: 0.5rem;
}

.margin-block-normal {
  margin-block: 0.5rem;
}

.margin-inline-normal {
  margin-inline: 0.5rem;
}

.padding-block-md {
  padding-block: 1rem;
}

.padding-inline-md {
  padding-inline: 1rem;
}

.margin-block-md {
  margin-block: 1rem;
}

.margin-inline-md {
  margin-inline: 1rem;
}

.padding-block-lg {
  padding-block: 1.5rem;
}

.padding-inline-lg {
  padding-inline: 1.5rem;
}

.margin-block-lg {
  margin-block: 1.5rem;
}

.margin-inline-lg {
  margin-inline: 1.5rem;
}

.padding-block-xl {
  padding-block: 2rem;
}

.padding-inline-xl {
  padding-inline: 2rem;
}

.margin-block-xl {
  margin-block: 2rem;
}

.margin-inline-xl {
  margin-inline: 2rem;
}

.padding-block-xxl {
  padding-block: 3rem;
}

.padding-inline-xxl {
  padding-inline: 3rem;
}

.margin-block-xxl {
  margin-block: 3rem;
}

.margin-inline-xxl {
  margin-inline: 3rem;
}

/* _buttons.scss */
.btn-button-1 {
  background-color: #0e6cff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0.25rem;
}

.btn-button-2 {
  background-color: #ff8700;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0.25rem;
}

.btn-button-3 {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0.25rem;
}

/* _mixins.scss */ /* _animations.scss */
body {
  font-family: "Arial", sans-serif;
  color: #f4f4f4;
}

/* Header/hero section */
.header {
  background-color: #640fc5;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .headline {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInSlideDown 300ms ease-in-out 0 both;
}
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header .buttons-container {
  display: flex;
  justify-content: center;
}
.header .buttons-container .btn {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.header .hero-image {
  margin-left: 1.5rem;
}
.header .hero-image img {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0;
}

/* Grid */
.grid-container {
  margin: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.grid-container > * {
  width: calc(100% / 4);
}
.grid-container .grid-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInSlideDown 300ms ease-in-out 0 both;
}
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */